ul {
  text-align: center;

  margin: 0 auto;
  font-size: 50px;
}

a {
  color: black !important;
  text-decoration: line-through;

}

.section1 {
  height: 100vh;
  background-color: green;
}

.section2 {
  height: 100vh;
  background-color: skyblue;
}

.section3 {
  height: 100vh;
  background-color: tomato;
}

.section4 {
  height: 100vh;
  background-color: pink;
}

.section5 {
  height: 100vh;
  background-color: yellow;
}
